<!DOCTYPE html>

<html lang='en' ng-app='eCardsApp'>

  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <meta property="og:url" content="http://i.imgur.com/ZnjE0tl.jpg">

    <title>Cardagram</title>
    <link rel="icon" href="http://i.imgur.com/RcpnMvn.png">

    <link rel="stylesheet" type="text/css" href="styles/style.css">
    <link href="https://fonts.googleapis.com/css?family=Dawning+of+a+New+Day|Just+Another+Hand|Carter+One" rel="stylesheet">
    <script src='https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular.js'></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.3/angular-route.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/angular-css/1.0.8/angular-css.min.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>
    <script src='/scripts/controllers/MainController.js'></script>
    <script src='/scripts/controllers/ECardsIndexController.js'></script>
    <script src='/scripts/controllers/ECardsShowController.js'></script>
    <script src='/scripts/controllers/ThemeEditController.js'></script>
    <script src='/scripts/controllers/ECardEditController.js'></script>

  </head>

  <body>
    <div class="breadcrumb-container">
      <div id="home-breadcrumb" class="breadcrumb plain-text main-header">
        <a href="/">
          <img src="http://i.imgur.com/RcpnMvn.png" alt="">
          <h1 class="cardagram-font">Cardagram</h1>
        </a>
      </div>
      <div id="themes-breadcrumb" class="hidden breadcrumb">
        <a href="/ecards" id="back-to-themes" class="cardagram-btn clear-message-btn cardagram-font">Back to Themes</a>
      </div>
    </div>
    <div ng-view></div>
  </body>

</html>