<h3>{{themeEditCtrl.ecard.theme.message}}</h3>
<div class="container">
  <div class="theme-img-show" style="background-image: url({{eCardCtrl.ecard.theme.image}})">
    <a ng-click="eCardCtrl.openModal(1)">
      <div class="question-bubble" id="question-bubble-1" style="background-image: url({{eCardCtrl.ecard.theme.questions[0].image}})"></div>
    </a>
    <a ng-click="eCardCtrl.openModal(2)">
      <div class="question-bubble" id="question-bubble-2" style="background-image: url({{eCardCtrl.ecard.theme.questions[1].image}})"></div></a>
    <a ng-click="eCardCtrl.openModal(3)">
      <div class="question-bubble" id="question-bubble-3" style="background-image: url({{eCardCtrl.ecard.theme.questions[2].image}})"></div></a>
    <a ng-click="eCardCtrl.openModal(4)">
      <div class="question-bubble" id="question-bubble-4" style="background-image: url({{eCardCtrl.ecard.theme.questions[3].image}})"></div></a>
    <a ng-click="eCardCtrl.openModal(5)">
      <div class="question-bubble" id="question-bubble-5" style="background-image: url({{eCardCtrl.ecard.theme.questions[4].image}})"></div></a>
    <div class="ecard-msg">
      <p>
        {{eCardCtrl.ecard.theme.message}}
      </p>
    </div>
  </div>
</div>

<div class="center">
  <input class="preview-btn" value="Send" type="submit" ng-click="eCardCtrl.sendECard()">
</div>

<div id="question-modal" class="modal">
  <div class="modal-content">
    <div ng-repeat="question in eCardCtrl.ecard.theme.questions">
      <div class="questions" id="question-{{question.count}}" hidden>
        <span ng-click="eCardCtrl.closeModal()" class='close'>&times;</span>
        <div class="question-form">
          <table class="question-table">
            <tr>
              <td class="question-text-table">
                <div class="question-text-container">
                    <p class="question-text-message">
                      <span class="prompt">{{eCardCtrl.getFrontPrompt(question)}}</span>
                      <span class="response">{{eCardCtrl.getResponse(question)}}</span>
                      <span class="prompt placeholder-span">_____</span>
                      <span class="prompt">{{eCardCtrl.getBackPrompt(question)}}</span>
                    </p>
                </div>
              </td>
            </tr>
          </table>
        </div>
      </div>
    </div>
  </div>
</div>
