<div class='container'>
  <div id='theme-img-show' style={{eCardCtrl.loadBackground()}}>
    <div class='ecard-title cardagram-font'>
      <h1>{{eCardCtrl.ecard.theme.title}}</h1>
    </div>
    <div ng-repeat='question in eCardCtrl.ecard.theme.questions'>
      <div class='question-bubble' id='question-bubble-{{question.count}}'
        ng-mouseover='eCardCtrl.bubblePop(question.count)' ng-mouseout='eCardCtrl.bubblePop(question.count)'
        ng-click='eCardCtrl.mobilePop(question.count)'
        style='background-image: url({{question.image}})'>
        <div class='full-message' id='full-message-{{question.count}}' hidden>
          <div class='full-message-text'>
            <span class='prompt'>{{eCardCtrl.getFrontPrompt(question)}}</span>
            <span class='response dont-break-out'>{{eCardCtrl.getResponse(question)}}</span>
            <span class='prompt'>{{eCardCtrl.getBackPrompt(question)}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class='ecard-msg'>
      <p class='msg-preview prompt'>
        <span>{{eCardCtrl.ecard.theme.message}}</span>
      </p>
    </div>
  </div>
</div>

<div class='center' ng-hide='eCardCtrl.ecard.ecardSent'>
  <div class='ecard-show-btn clear-message-btn' ng-click='eCardCtrl.editECard()'>Edit</div>
  <div class='ecard-show-btn preview-btn' ng-click='eCardCtrl.openModal()'>Send</div>
</div>

<div class='center plain-text cardagram-font' ng-show='eCardCtrl.ecard.ecardSent' class='ng-hide'>
  <a href='/'><h2 class="sent-create-msg">Create your own Cardagram!</h2></a>
</div>

<div id='send-modal' class='modal' style="display: none">
  <div id='send-modal-content' class='modal-content'>
    <span ng-click='eCardCtrl.closeModal()' class='close'>&times;</span>
    <div class='question-header'>
      <h2>Address Your Cardagram</h2>
    </div>
    <p>
      <table style='width:100%'>
        <tr>
          <td><input class="send-input" placeholder='Your Name' type='text' ng-model='eCardCtrl.senderName'></td>
        </tr>
        <tr>
          <td><input class="send-input" placeholder='Your Email' type='text' ng-model='eCardCtrl.senderEmail'></td>
        </tr>
        <tr>
          <td><input class="send-input" placeholder="Your Friend's Name" type='text' ng-model='eCardCtrl.receiverName'></td>
        </tr>
        <tr>
          <td><input class="send-input" placeholder="Your Friend's Email" type='text' ng-model='eCardCtrl.receiverEmail'></td>
        </tr>
        <tr>
          <td><input class='preview-btn' value='Send Cardagram' type='submit' ng-click='eCardCtrl.sendECard()'></td>
        </tr>
      </table>      
    </p>
  </div>
</div>
