<div class='container'>
  <div class='theme-img-show' style='background-image: url({{eCardCtrl.ecard.theme.image}})'>
    <div class='ecard-title'>
      <h1>{{eCardCtrl.ecard.theme.title}}</h1>
    </div>
    <div ng-repeat='question in eCardCtrl.ecard.theme.questions'>
      <div class='question-bubble' id='question-bubble-{{question.count}}'
        ng-mouseover='eCardCtrl.popup(question.count)' ng-mouseout='eCardCtrl.popdown(question.count)'
        ng-click='eCardCtrl.popdown(question.count)'
        style='background-image: url({{eCardCtrl.ecard.theme.questions[question.count-1].image}})'>
        <div class='full-message' id='full-message-{{question.count}}' hidden>
          <div class='full-message-text'>
            <span class='prompt'>{{eCardCtrl.getFrontPrompt(question)}}</span>
            <span class='response dont-break-out'>{{eCardCtrl.getResponse(question)}}</span>
            <span class='prompt'>{{eCardCtrl.getBackPrompt(question)}}</span>
          </div>
        </div>
      </div>
    </div>
    <div class='ecard-msg'>
      <p class='msg-preview'>
        <span>{{eCardCtrl.ecard.theme.message}}</span>
      </p>
    </div>
  </div>
</div>

<div class='center' ng-hide='eCardCtrl.ecard.ecardSent'>
  <input class='clear-message-btn' value='Edit' type='submit' ng-click='eCardCtrl.editECard()'>
  <input class='preview-btn' value='Send' type='submit' ng-click='eCardCtrl.openChooseModal()'>
</div>

<div class='center plain-text' ng-show='eCardCtrl.ecard.ecardSent' class='ng-hide'>
  <a href='/'><h2>Create your own eCard!</h2></a>
</div>

<div id="choose-modal" class="modal">
  <div id='send-modal-content' class='modal-content'>
  <span ng-click='eCardCtrl.closeChooseModal()' class='close'>&times;</span>
    <div class='question-header'>
      <h2>Choose Method of Delivery</h2>
    </div>

    <div class="choose-modal-button" ng-click='eCardCtrl.openModal()'>
      <h1 class="choose-modal-text">Send With Default Email Client</h1>
    </div>

    <div class="choose-modal-button" ng-click='eCardCtrl.openLinkModal()'>
      <h1 class="choose-modal-text">Generate Link</h1>
    </div>

  </div>
</div>

<div id="link-modal" class="modal">
  <div id='send-modal-content' class='modal-content'>
  <span ng-click='eCardCtrl.cancelLinkModal()' class='close'>&times;</span>
    <div class='question-header'>
      <h2>Thank You for Using Cardagram</h2>
    </div>

    <div>
      <h3>Here is your Cardagram's link:</h3>
    </div>
    <input type="text" id="url-reveal" ng-value='eCardCtrl.getURL()'>
      <h5>Please be sure to copy this link before closing the window.</h5>
    <input class="preview-btn" id='link-modal-done' value='Done' ng-click='eCardCtrl.closeLinkModal()'>

  </div>
</div>

<div id='send-modal' class='modal'>
  <div id='send-modal-content' class='modal-content'>
    <span ng-click='eCardCtrl.closeModal()' class='close'>&times;</span>
    <div class='question-header'>
      <h2>Address Your Cardagram</h2>
    </div>
    <p>
      <table style='width:100%'>
        <tr>
          <td><input placeholder='Your Name' type='text' ng-model='eCardCtrl.senderName'></td>
        </tr>
        <tr>
          <td><input placeholder='Your Email' type='text' ng-model='eCardCtrl.senderEmail'></td>
        </tr>
        <tr>
          <td><input placeholder="Your Friend's Name" type='text' ng-model='eCardCtrl.receiverName'></td>
        </tr>
        <tr>
          <td><input placeholder="Your Friend's Email" type='text' ng-model='eCardCtrl.receiverEmail'></td>
        </tr>
        <tr>
          <td><input class='preview-btn' value='Send' type='submit' ng-click='eCardCtrl.sendECard()'></td>
        </tr>
      </table>      
    </p>
  </div>
</div>
