<div class="center" id="main-landing">
	<ul class="slides">
		<div id="get-started-div">
			<a href="/ecards"><button class="cardagram-font cardagram-btn">Get Started</button></a>
		</div>
    <input type="radio" name="radio-btn" id="img-1" checked />
    <li class="slide-container">
		<div class="slide" id="slide-1">
			<h1 class="slide-text-header">Step 1</h1>
			<h3 class="slide-text-para">Choose a Theme</h3>
			<img src="http://i.imgur.com/CZvrWop.jpg" alt="">
    </div>
		<div class="nav">
			<label for="img-2" class="next">&#x203a;</label>
		</div>
    </li>

    <input type="radio" name="radio-btn" id="img-2" />
    <li class="slide-container">
        <div class="slide">
          <h1 class="slide-text-header">Step 2</h1>
        <h3 class="slide-text-para">Customize Bubble-Grams <br> &amp Link Your Image</h3>
        <img src="http://i.imgur.com/iCVU7iI.jpg" alt="">
        </div>
		<div class="nav">
			<label for="img-1" class="prev">&#x2039;</label>
			<label for="img-3" class="next">&#x203a;</label>
		</div>
    </li>

    <input type="radio" name="radio-btn" id="img-3" />
    <li class="slide-container">
        <div class="slide">
          <h1 class="slide-text-header">Step 3</h1>
          <h3 class="slide-text-para">Preview Your Creation</h3>
          <img src="http://i.imgur.com/7TNxBie.jpg" alt="">
        </div>
		<div class="nav">
			<label for="img-2" class="prev">&#x2039;</label>
			<label for="img-4" class="next">&#x203a;</label>
		</div>
    </li>

    <input type="radio" name="radio-btn" id="img-4" />
    <li class="slide-container">
        <div class="slide">
          <h1 class="slide-text-header">Step 4</h1>
          <h3 class="slide-text-para">Send Your Cardagram</h3>
          <img src="http://i.imgur.com/3jr0hiZ.jpg" alt="">
        </div>
		<div class="nav">
			<label for="img-3" class="prev">&#x2039;</label>
		</div>
    </li>

    <li class="nav-dots">
      <label for="img-1" class="nav-dot" id="img-dot-1"></label>
      <label for="img-2" class="nav-dot" id="img-dot-2"></label>
      <label for="img-3" class="nav-dot" id="img-dot-3"></label>
      <label for="img-4" class="nav-dot" id="img-dot-4"></label>
    </li>
	</ul>
	<div class="center">
		<p id="main-blurb" class="cardagram-font">Cardagram Themes now include: Birthday, St. Patrick's Day, Manatee Day and many more!</p>
	</div>
</div>

<div id="mobile-landing" class="center cardagram-font" hidden>
  <div id="mobile-landing-container">
    <h1>Cardagram</h1>
    <ul>
      <li>Choose A Theme</li>
      <li>Customize Each Bubble-Gram</li>
      <li>Preview Your Creation</li>
      <li>Send Cardagram</li>
    </ul>
    <div id="get-started-div-mobile">
      <a href="/ecards"><button class="cardagram-font cardagram-btn">Get Started</button></a>
    </div>
  </div>
</div>