<h3>{{themeEditCtrl.ecard.message}}</h3>
<div class="container">
	<div class="theme-img-show" style="background-image: url({{themeEditCtrl.theme.image}})">
		<div class="ecard-title">
			<h1>{{themeEditCtrl.theme.title}}</h1>
		</div>
		<a ng-click="themeEditCtrl.openModal(1)"><div class="question-bubble" id="question-bubble-1"></div></a>
		<a ng-click="themeEditCtrl.openModal(2)"><div class="question-bubble" id="question-bubble-2"></div></a>
		<a ng-click="themeEditCtrl.openModal(3)"><div class="question-bubble" id="question-bubble-3"></div></a>
		<a ng-click="themeEditCtrl.openModal(4)"><div class="question-bubble" id="question-bubble-4"></div></a>
		<a ng-click="themeEditCtrl.openModal(5)"><div class="question-bubble" id="question-bubble-5"></div></a>
		<div class="ecard-msg">
 			<p><textarea  maxlength="50" rows="4" cols="50" placeholder="Add your Message" ng-model="themeEditCtrl.theme.message"></textarea></p>
		</div>
	</div>
</div>

<input type="submit" ng-click="themeEditCtrl.saveECard()">

<div id="question-modal" class="modal">
	<div class="modal-content">
		<div ng-repeat="question in themeEditCtrl.theme.questions">
			<div class="questions" id="question-{{question.count}}" hidden>
		  	<p>{{question.prompt}}</p>
		    <p>{{question.response}}</p>
		    <input ng-model="question.response">
        <input type="submit" ng-click="themeEditCtrl.closeModal()">
        <button ng-click="themeEditCtrl.clearResponse(question.count)">Clear</button>
      </div>
    </div>
  </div>
</div>
