<div id="overlay"></div>
<div id="info-box">
	<div>
		<h1 class="cardagram-font">Creating A Cardagram</h1>
		<ol class="instructions">
			<li>Click on a Bubble-Gram</li>
			<li>Each Bubble-Gram has a phrase for you to complete</li>
			<li>You can also choose to link a personalized image</li>
			<li>Once all 5 are completed, write a message to tie it all together</li>
			<li>Preview your Cardagram and Send</li>
		</ol>
	</div>
</div>

<form name="theme-edit-form">
	<div class="container">
		<div id='theme-img-show' style={{themeEditCtrl.loadBackground()}}>
			<div class="ecard-title cardagram-font">
				<h1>{{themeEditCtrl.theme.title}}</h1>
			</div>
			<div ng-repeat='question in themeEditCtrl.theme.questions'>
				<a ng-click="themeEditCtrl.openModal(question.count)">
					<div class="question-bubble-pending" id="question-bubble-{{question.count}}"
						data-color="red" style="background-image: url({{question.image}})"></div>
				</a>
			</div>
			<div class="ecard-msg">
	 			<p><textarea  id="message-text-area" class="prompt" maxlength="165" rows="3" cols="50" placeholder="Add your Message" ng-model="themeEditCtrl.theme.message" ng-show="themeEditCtrl.bubblesComplete"></textarea></p>
			</div>
		</div>
	</div>

	<div class="center">
		<div class="progress-bar cardagram-font">
			<div class="progress-bar-step active-step">Customize Your Bubble-Grams</div>
			<div class="progress-bar-step" id="write-message-step">Write A Message</div>
	  	<input class="progress-bar-step" id="preview-cardagram-btn" value="Preview Cardagram" type="submit" ng-disabled="!(themeEditCtrl.bubblesComplete && themeEditCtrl.theme.message.length > 0)" ng-click="themeEditCtrl.saveECard()" ng-class="{true: 'active-step click-me', false: ''}[themeEditCtrl.theme.message.length > 0 && themeEditCtrl.bubblesComplete]">
		</div>
	</div>
	<div id="question-modal" class="modal">
		<div class="modal-content">
	    <div ng-repeat="question in themeEditCtrl.theme.questions">
	      <div class="questions" id="question-{{question.count}}" hidden>
	        <span ng-click="themeEditCtrl.cancelResponse(question)" class='close'>&times;</span>
	        <div class="question-header">
	          <h1>Customize your Bubble-Gram</h1>
					</div>

					<div class="question-form">
						<div class="row">
							<div class="question-column question-image">
								<div class="question-section question-image-container">
									<div class="question-image-div">
										<img src={{question.image}} alt="">
									</div>
								</div>
									<div class="question-section question-image-input">
										<button ng-hide="themeEditCtrl.showImage" ng-click="themeEditCtrl.showImageForm(question)">Link your own image</button>
										<button ng-show="themeEditCtrl.showImage" ng-click="themeEditCtrl.revertImage(question)">Revert</button>
										<button ng-show="themeEditCtrl.showImage" ng-click="themeEditCtrl.confirmImage()">Confirm</button>
										<input placeholder="http://link-to-your-image" ng-show="themeEditCtrl.showImage" class="image-input-field" type="text" ng-model="question.image">
									</div>	
							</div>
							
							<div class="question-column question-response">
								<div class="question-section question-text-container">
						        <p class="question-text-message">
						          <span class="prompt">{{themeEditCtrl.getFrontPrompt(question)}}</span>
						          <span class="response dont-break-out" ng-class="{true: 'response-green-background', false: 'response-red-background'}[question.response.length != 0]">{{question.response}}</span>
					          	<span class="prompt">{{themeEditCtrl.getBackPrompt(question)}}</span>
						        </p>
						    </div>
						    <div class="question-section question-image-input">
						    	<input ng-model="question.response" maxlength="80" class="question-text-response" placeholder="Complete Your Message Here" ng-change="themeEditCtrl.playWritingSFX()" data-ng-trim="false">
						    </div>
							</div>
						</div>

						<div class="row">
							<div class="question-buttons">
								<button ng-click="themeEditCtrl.clearResponse(question.count)" class="clear-message-btn">Clear Message</button>
			        	<input type="submit" ng-click="themeEditCtrl.saveResponse(question.count)" value="Save Message" class="save-message-btn">
							</div>
						</div>
					</div>
				</div>
	    </div>
	  </div>
	</div>
</form>