.center {
	margin: 0 auto;
	text-align: center;
}

.plain-text a {
	text-decoration: none;
}

.theme-img-index img {
  width: 100%;
}

.theme-img-index {
  display: inline-block;
  margin: 15px;
  width: 30%;
}

.theme-img-show img {
	height: 150px;
}
