textarea {
	resize: none;
}

p {
  font-size: 2em;
}

input {
  padding: 5px;
  border: 1px solid grey;
  border-radius: 5%;
}

.cardagram-font {
  font-family: 'Carter One', cursive;
}

.prompt {
  font-family: 'Just Another Hand', cursive;
}

.response {
  font-family: 'Dawning of a New Day', cursive;
  text-decoration: underline;
}

.container {
  width: 800px;
  margin: 0 auto;
}

.center {
  margin: 0 auto;
  text-align: center;
}

.plain-text a {
  text-decoration: none;
  color: black;
}

.row {
  padding: 2%;
}

.response-red-background:before {
  background: rgba(255,0,0,0.2);
  padding: 0 5px;
  border-radius: 5px;
  white-space: pre;
  width: 30px;
  content: '     ';
}

.response-green-background {
  background: rgba(0,255,0,0.2);
  padding: 0 5px;
  border-radius: 5px;
}

.main-header h1 {
	display: inline;
	vertical-align: middle;
	line-height: 50px;
}

.main-header img {
	height: 3em;
	vertical-align: middle;
	line-height: 50px;
}

#overlay {
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  right:0;
  background-color: black;
  opacity:0.7;
  z-index:1001;
  transition: background 1s ease-in-out;
  -webkit-transition: background 1s ease-in-out;
}

#info-box {
  width: 100%;
  z-index:1002;
  position: fixed;
  top: 45%;
  animation: slideFromTop 2s ease-in-out; 
}

#info-box div {
  margin: 0 auto;
  width:50%;
  padding: 30px 30px 40px 30px;  
  background-color:#fff;
  opacity:1;
  border-radius: 10px;
  z-index: 1003;
}

#info-box h1 {
  margin: 0;
  text-align: center;
}

#info-box ol {
  width: 80%;
  margin: 0 auto;
  font-size: 18px;
}

@keyframes slideFromTop {
  0%   {top: 0%;}
  50% {top: 50%;}
  75% {top: 43%;}
  100% {top:45%;}
}

.highlight {
  opacity:1;
  z-index:1002;
}

.theme-img-index img {
  width: 100%;
}

.theme-img-index {
  display: inline-block;
  margin: 15px;
  width: 30%;
}

#theme-img-show {
	width: 100%;
	margin: 0 auto;
	position: relative;
	background-size: contain;
	background-repeat: no-repeat;
	height: 500px;
}

.question-bubble {
	border-radius: 50%;
	border: 1px solid black;
	position: absolute;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
  -webkit-transition: all 1.5s ease;
}

.question-bubble-pending {
	border-radius: 50%;
	border: 1px solid red;
	position: absolute;
	display: block;
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
	box-shadow: 0 0 10px red;
  -webkit-transition: all 1.5s ease;
}

.question-bubble-done {
	border: 1px solid green;
  box-shadow: 0 0 10px green;
}

.question-bubble:hover, .question-bubble-pending:hover, .question-bubble-pending:hover {
	cursor: pointer;
}

#question-bubble-1 {
	width: 100px;
	height: 100px;
	bottom: 55%;
	left: 10%;
  animation: zIndexUp 2s ease-in-out;
}

@keyframes zIndexUp {
  0%   {z-index: 0;}
  100% {z-index: 1;}
}

#question-bubble-2 {
	width: 180px;
	height: 180px;
	bottom: 27%;
	left: 25%;
}

#question-bubble-3 {
	width: 200px;
	height: 200px;
	bottom: 35%;
	left: 68%;
}

#question-bubble-4 {
	width: 50px;
	height: 50px;
	bottom: 65%;
	left: 48%;
}

#question-bubble-5 {
	width: 80px;
	height: 80px;
	bottom: 35%;
	left: 53%;
}

.ecard-title {
	width: 100%;
	text-align: center;
	bottom: 80%;
	position: absolute;	
}

.ecard-msg {
	width: 100%;
	text-align: center;
	bottom: 0.5%;
	position: absolute;
}

.ecard-msg p {
  margin: 2% auto;
}

#message-text-area, .msg-preview {
  padding: 1%;
  height: 3em;
  text-align: center;
}

#message-text-area {
  font-size: 0.85em;
  width: 50%;
}

.msg-preview {
  width: 50%;
  background-color: rgba(255,255,255,0.6);
  font-size: 1.75em;
  margin: 2% auto;
  border-radius: 20px;
}

.msg-preview span, #message-text-area span {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translateX(-50%) translateY(-50%);
  vertical-align: middle;
}

.modal {
  display: none;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0,0,0);
  background-color: rgba(0,0,0,0.4);
}

.modal-content {
  background-color: #fefefe;
  margin: 10% auto;
  padding: 20px;
  border: 1px solid #888;
  width: 70%;
}

.close {
  color: #aaa;
  float: right;
  font-size: 28px;
  font-weight: bold;
}

.close:hover,
.close:focus {
  color: black;
  text-decoration: none;
  cursor: pointer;
}

#send-modal-content {
  width: 40%;
  height: 50%;
  text-align: center;
}

#send-modal p {
  text-align: center;
  vertical-align: middle;
}

.question-form {
	vertical-align: middle;
}

.question-header {
	text-align: center;
	border-bottom: 1px solid grey;
  font-family: 'Dawning of a New Day', cursive;
  font-size: 20px;
}

.question-header h1 {
  margin: 0 auto 0 auto;
}

.question-image-container {
	display: inline-block;
	margin: 30px 30px 10px 30px;
	text-align: center;
}

.question-image-div {
	height: 200px;
	width: 200px;
	border-radius: 50%;
	overflow: hidden;
  display: flex;
  justify-content: center;
}

.question-image-div img {
	height: 200px;
  flex: none;
}

.image-input-field {
	margin-top: 10px;
	width: 75%;
}

.question-form {
  width: 100%;
  text-align: center;
}

.question-column {
  width: 45%;
  display: inline-block;
}

.question-response {
  padding-top: 5%;
  vertical-align: top;
}

.question-buttons {
  text-align: center;
}

.jump {
  -webkit-animation: jump 1.5s ease 0s infinite normal ;
  animation: jump 1.5s ease 0s infinite normal ;
}

@-webkit-keyframes jump {
  0%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  20%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  40%{
  -webkit-transform: translateY(-30px);
  transform: translateY(-30px);
  }
  50%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  60%{
  -webkit-transform: translateY(-15px);
  transform: translateY(-15px);
  }
  80%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
  100%{
  -webkit-transform: translateY(0);
  transform: translateY(0);
  }
}

@keyframes jump {
  0%{
  transform: translateY(0);
  }
  20%{
  transform: translateY(0);
  }
  40%{
  transform: translateY(-30px);
  }
  50%{
  transform: translateY(0);
  }
  60%{
  transform: translateY(-15px);
  }
  80%{
  transform: translateY(0);
  }
  100%{
  transform: translateY(0);
  }
}

.dont-break-out {
  overflow-wrap: break-word;
  word-wrap: break-word;
  word-break: break-word;
  -ms-hyphens: auto;
  -moz-hyphens: auto;
  -webkit-hyphens: auto;
  hyphens: auto;
}

.save-message-btn {
	padding: 10px;
	background: lightgreen;
	border: 2px solid black;
	font-size: 15px;
	font-weight: bold;
}

.clear-message-btn {
	padding: 10px;
	border: 2px solid black;
	background: white;
	font-size: 15px;
	font-weight: bold;
	border-radius: 5%;
}

.preview-btn {
  margin-top: 2%;
  padding: 10px;
  background: lightgreen;
  border: 2px solid black;
  font-size: 15px;
  font-weight: bold;
}

#preview-cardagram-btn:hover, 
#preview-edit-cardagram-btn:hover {
	cursor: pointer;
}

#preview-edit-cardagram-btn:disabled, #preview-cardagram-btn:disabled {
  background: white;
  cursor: not-allowed;
}

.progress-bar-step {
  margin: 20px 15px 0 15px;
  padding: 10px;
  background: white;
  border: 2px solid #C0C0C0;
  font-size: 15px;
  font-weight: bold;	
  display: inline-block;
	border-radius: 5%;
	color: #C0C0C0;
}

.progress-bar-step:hover {
	cursor: default;
}

.active-step {
  border: 2px solid black;
  color: black;
}

.click-me {
	box-shadow: 0 0 10px yellow;
  background: lightgreen;
}

#question-popup {
  height: 400px;
  width: 400px;
  bottom: 10%;
  left: 25%;
  z-index: 10;
}

.full-message {
  position: absolute;
  height: 80%;
  width: 80%;
  top: 10%;
  right: 10%;
  text-align: center;
  font-size: 2em;
  border-radius: 50%;
  background-color: rgba(255,255,255,0.7);
  text-overflow: hidden;
  overflow: hidden;
}

.full-message-text {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  border-radius: 50%;
  padding: 5%;
}

#get-started-div {
	position: absolute;
	margin: 0 auto;
	top: 65%;
	width: 100%;
}

#get-started-div button {
	z-index: 99;
	color: black;
	position: relative;
	top: 70%;
	padding: 20px;
	font-weight: bold;
	font-size: 20px;
	background: #B8FDFE;
	border: 2px solid black;
	border-radius: 5%;
}

#get-started-div button:hover {
	border: 3px solid #FEB8FB;
	box-shadow: 0 0 10px #FEB8FB;
	cursor: pointer;
}

#get-started-div button:active {
	outline: none;
}

#main-blurb {
	font-size: 20px;
}

.slides {
  padding: 0;
  width: 100%;
  height: 550px;
  display: block;
  position: relative;
  margin-top: 5px;
}

.slides * {
  user-select: none;
  -ms-user-select: none;
  -moz-user-select: none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  -webkit-touch-callout: none;
}

.slides input { display: none; }

.slide-container { display: block; }

.slide {
  top: 0;
  opacity: 0;
  width: 100%;
  height: 500px;
  display: block;
  position: absolute;
  transform: scale(0);
  transition: all .7s ease-in-out;
}

.slide img {
    width: 1250px;
    height: 100%;
    margin: 0 auto;
    position: relative;
}

.slide-text-header {
	position: absolute; 
	z-index: 3; 
	top: 15%;
	left: 15%;
	color: white;
	font-size: 80px;
}

.slide-text-para {
	position: absolute; 
	z-index: 4; 
	top: 30%;
	left: 20%;
	color: white;
	font-size: 45px;
	text-shadow: 5px 5px 20px black;
}

.choose-modal-text {
  display: table-cell;
  vertical-align: middle;
}

.choose-modal-button {
  display: table;
  height: 80px;
  width: 80%;
  text-align: center;
  border: 2px solid black;
  font-size: 10px;
  border-radius: 5px;
  margin: 20px auto;
  padding: 5px;
}

#link-modal-done {
  text-align: center;
  width: 60px;
}

#link-modal-done:hover, .choose-modal-button:hover, .preview-btn:hover, .clear-message-btn:hover {
  cursor: pointer;
}

#url-reveal {
  width: 300px;
  height: 30px;
  padding: 5px;
  font-size: 15px;
}

.nav label {
  width: 100px;
  height: 100%;
  display: none;
  position: absolute;
  opacity: 0;
  z-index: 9;
  cursor: pointer;
  transition: opacity .5s;
  color: #FFF;
  font-size: 156pt;
  text-align: center;
  line-height: 380px;
  background-color: rgba(255, 255, 255, .3);
  text-shadow: 0px 0px 15px rgb(119, 119, 119);
}

.slide:hover + .nav label { opacity: 0.5; }

.nav label:hover { opacity: 1; }

.nav .next { right: 0; }

input:checked + .slide-container  .slide {
  opacity: 1;
  transform: scale(1);
  transition: opacity 1s ease-in-out;
}

input:checked + .slide-container .nav label { display: block; }

.nav-dots {
	width: 100%;
	bottom: 9px;
	height: 11px;
	display: block;
	position: absolute;
	text-align: center;
}

.nav-dots .nav-dot {
	top: -5px;
	width: 11px;
	height: 11px;
	margin: 0 4px;
	position: relative;
	border-radius: 100%;
	display: inline-block;
	background-color: rgba(0, 0, 0, 0.6);
}

.nav-dots .nav-dot:hover {
	cursor: pointer;
	background-color: rgba(0, 0, 0, 0.8);
}

input#img-1:checked ~ .nav-dots label#img-dot-1,
input#img-2:checked ~ .nav-dots label#img-dot-2,
input#img-3:checked ~ .nav-dots label#img-dot-3,
input#img-4:checked ~ .nav-dots label#img-dot-4 {
	background: rgba(0, 0, 0, 0.8);
}

@media screen and (max-width: 905px) {
  .question-buttons button {
    margin: 2%;
  }
  .theme-img-index {
    width: 45%;
  }
}

@media screen and (max-width: 820px) {
  .container {
    width: 600px;
    height: 375px;
    margin: 0 auto;
  }
  #question-bubble-1 {
    width: 75px;
    height: 75px;
    bottom: 60%;
    left: 10%;
  }
  #question-bubble-2 {
    width: 135px;
    height: 135px;
    bottom: 32%;
    left: 20%;
  }
  #question-bubble-3 {
    width: 150px;
    height: 150px;
    bottom: 38%;
    left: 68%;
  }
  #question-bubble-4 {
    width: 37.5px;
    height: 37.5px;
    bottom: 65%;
    left: 48%;
  }
  #question-bubble-5 {
    width: 60px;
    height: 60px;
    bottom: 40%;
    left: 53%;
  }
  .ecard-msg {
    bottom: 6%;
    font-size: 0.75em;
  }
  .ecard-title {
    bottom: 78%;
  }
  .question-header {
    font-size: 1em;
  }
  #question-popup {
    height: 350px;
    width: 350px;
    bottom: 10%;
  }
  #theme-img-show {
    height: 400px;
  }

  #info-box {
    top: 40%;
  }

  #info-box div {
    padding: 10px 10px 15px 10px;  
  }

  #info-box ol {
    font-size: 13px;
  }

  #info-box h1 {
    font-size: 20px;
  }
}

@media screen and (max-width: 770px) {
  .question-image-div {
    width: 150px;
    height: 150px;
  }
  .question-image-div {
    width: 175px;
    height: 175px;
  }
  .question-image-input {
    vertical-align: top;
    padding-top: 15%;
    text-align: center;
  }
  .full-message {
    font-size: 1.5em;
  }
}

@media screen and (max-width: 620px) {
  .container {
    width: 400px;
    height: 250px;
    margin: 0 auto;
  }
  #theme-img-show{
    height: 250px;
  }
  #question-bubble-1 {
    width: 50px;
    height: 50px;
    bottom: 60%;
    left: 5%;
  }
  #question-bubble-2 {
    width: 90px;
    height: 90px;
    bottom: 30%;
  }
  #question-bubble-3 {
    width: 100px;
    height: 100px;
    bottom: 32%;
  }
  #question-bubble-4 {
    width: 25px;
    height: 25px;
    bottom: 63%;
  }
  #question-bubble-5 {
    width: 40px;
    height: 40px;
    bottom: 38%;
    left: 53%;
  }
  .ecard-msg textarea {
    height: 3em;
    width: 25em;
  }
  .ecard-msg {
    bottom: 2%;
    font-size: 0.5em;
  }
  .ecard-title {
    bottom: 80%;
    font-size: 0.5em;
  }
  .question-header {
    font-size: 0.75em;
  }
  #question-popup {
    height: 250px;
    width: 250px;
    bottom: 1%;
    left: 20%;
    font-size: 0.75em;
  }
  .question-column {
    width: 100%;
    display: inline-block;
  }
  .question-section {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 0.75em;
  }
  .question-image-div {
    width: 90px;
    height: 90px;
    margin: 0 auto;
  }
  .question-image-div img {
    height: 120px;
    width: 120px;
  }
  .question-image-container {
    margin: 0;
  }
  .question-image-input {
    vertical-align: top;
    padding-top: 0%;
    text-align: center;
  }
  .theme-img-index {
    width: 95%;
  }
  #info-box {
    top: 30%;
  }
}

@media screen and (max-width: 400px) {
  .container {
    width: 300px;
    height: 480px;
    margin: 0 auto;
  }
  #theme-img-show {
    height: 480px;
  }
  #question-bubble-1 {
    width: 70px;
    height: 70px;
    bottom: 60%;
    left: 10%;
  }
  #question-bubble-2 {
    width: 120px;
    height: 120px;
    bottom: 20%;
    left: 10%;
  }
  #question-bubble-3 {
    width: 100px;
    height: 100px;
    bottom: 52%;
    left: 60%;
  }
  #question-bubble-4 {
    width: 45px;
    height: 45px;
    bottom: 50%;
    left: 35%;
  }
  #question-bubble-5 {
    width: 60px;
    height: 60px;
    bottom: 27%;
    left: 63%;
  }
  .ecard-msg textarea {
    height: 3em;
    width: 25em;
  }
  .ecard-msg {
    bottom: 2%;
    font-size: 0.75em;
  }
  .ecard-title {
    bottom: 80%;
    font-size: 0.75em;
  }
  .question-header {
    font-size: 0.75em;
  }
  #question-popup {
    height: 275px;
    width: 275px;
    bottom: 25%;
    left: 3%;
    font-size: 1em;
  }
  .question-column {
    width: 100%;
    display: inline-block;
  }
  .question-section {
    width: 100%;
    display: inline-block;
    text-align: center;
    font-size: 0.75em;
  }
  .question-image-div {
    width: 90px;
    height: 90px;
    margin: 0 auto;
  }
  .question-image-div img {
    height: 120px;
    width: 120px;
  }
  .question-image-container {
    margin: 0;
  }
  .question-image-input {
    vertical-align: top;
    padding-top: 0%;
    text-align: center;
  }
  .theme-img-index {
    width: 90%;
  }
}
